<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections />
  <appSettings>
    <add key="metatrader_server" value="192.168.9.43" />
    <add key="metatrader_port" value="443" />
    <add key="metatrader_login" value="1014" />
    <add key="metatrader_password" value="Password1" />
    <add key="metatrader_crypt" value="1" />
    <add key="metatrader_pumps" value="0" />
    <add key="metatrader_default_deposit" value="10000" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <authentication mode="Forms" />
    <httpRuntime maxRequestLength="131072" enableVersionHeader="false" executionTimeout="180" />
    <customErrors mode="Off" defaultRedirect="~/500.html">
      <error statusCode="403" redirect="~/403.html" />
      <error statusCode="404" redirect="~/404.html" />
      <error statusCode="500" redirect="~/500.html" />
    </customErrors>
  </system.web>
  <system.webServer>
    <security> 
      <requestFiltering>
        <requestLimits maxAllowedContentLength="207374182" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="Server" />
      </customHeaders>
    </httpProtocol>
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>